
body {
  margin: 0;
  background-color: #2f0f0f;
}

h1  {
  color: white;
  font-size: 14px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 0 0 12px;
  font-family: 'Crimson Text', serif;
}

p {
  margin: 20px 30px 30px 30px;
  line-height: .8;
  font-family: 'Crimson Text', serif;
  font-size: 80px;
  color: rgba(0,0,0,.6);
}

#o {
  font-size: 11px;
  color: white;
  margin-right: 1px;
}

span{
  position: relative;
  top: px;
  color: #b87333;
  font-size: 30px;
  margin-right: -10px;
  margin-left: -4px;
  line-height: .2;
}

.attrib {
  text-align: right;
  margin-bottom: 0px;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: normal;
  position: fixed;
  top: 89%;
  right: 30px;
  color: #b87333;
}

.bg-header {
  position: fixed;
  width: 240px;
  top: 90%;
  margin: 0 0 0 30px;
  padding: 7px;
  background-color: rgba(255,0,0,.5);
  border-radius: 3px;
}
